<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表页</title>
</head>
<style>
    div {
        margin: 15px
    }
</style>
<body>
    <h1>Posts</h1>
    <p>You have <strong><%= list.length %></strong> posts</p>
    <% list.forEach(function(post){%>
        <h5><%= post.title%> </h5>
        <p><%= post.details%></p>
    <% }) %>
</body>
</html>